body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(21, 21, 24);
}

.bg-image {
  background-image: linear-gradient(
      to top,
      rgb(21, 21, 24),
      rgba(21, 21, 24, 1) 5%,
      transparent
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4) 5%,
      transparent 100%
    ),
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4) 5%,
      transparent 100%
    ),
    url(../images/parasite-woman.webp); /* Re-add the background image */
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  background-size: cover;
  z-index: -1;
}

.logo img {
  width: 20px;
  height: auto;
}

header a {
  text-decoration: none;
  color: white;
}

.column-middle {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.navbar-nav a {
  color: rgb(226, 201, 201);
}

.navbar-nav a:hover {
  color: rgb(185, 41, 41);
}

nav {
  font-size: 0.6rem;
  font-weight: bold;
}

.featured-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.featured-section img {
  margin: 0 auto;
}

.featured-container .col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  position: relative;
}

.featured-container .col img {
  width: 100%;
  height: 100%;
}

.modal-body img {
  width: 7rem;
  height: 10rem;
}

.description-container {
  height: 20rem;
  align-items: center;
  background-color: rgb(29, 30, 34);
}

.logo-img {
  margin-right: 50px;
}

.description {
  font-weight: bold;
  text-align: left;
  width: 500px;
  margin-left: 200px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.recommended-container {
  height: 30rem;
}

.recommended-container img {
  border-radius: 10px;
  position: relative;
}

.image-container {
  position: relative;
  width: 42rem;
  height: 25rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image-content-text {
  position: absolute;
  bottom: 20%;
}

.join-us-section {
  position: relative;
}

.join-us-container {
  background-image: url(../images/060_BOI_SG_35603.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  filter: brightness(70%);
}

.text-overlay {
  position: absolute;
  bottom: 20%;
  text-align: center;
  color: white;
  width: 700px;
  text-align: start;
  margin-left: 7rem;
}
